<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\App\Response\Http">
        <plugin name="ls_test_responseHttpBefore" type="LevelShoes\Test\Plugin\App\Response" disabled="false"/>
    </type>
    <type name="Magento\Checkout\Block\Checkout\LayoutProcessor">
        <plugin name="ls_test_layout_processor" type="LevelShoes\Test\Plugin\Checkout\LayoutProcessor" disabled="false"/>
    </type>
</config>
